name: Pull Request Action
on: [push]
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Elixir
        uses: erlef/setup-beam@988e02bfe678367a02564f65ca2e37726dc0268f
        with:
          elixir-version: '1.13.4'
          otp-version: '25.0'
      - name: Restore dependancy cache
        uses: actions/cache@v3
        with:
          path: deps
          key: ${{ runner.os }}-mix-${{ hashFiles('**/mix.lock') }}
          restore-keys: ${{ runner.os }}-mix-
      - name: Get Dependancies
        run: mix deps.get
      - name: Compile code
        run: mix compile --warnings-as-errors
  credo-checks:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: erlef/setup-beam@988e02bfe678367a02564f65ca2e37726dc0268f
      - name: Format check
        with:
          elixir-version: '1.13.4'
          otp-version: '25.0'
        run: mix format --check-formatted
      - name: Static code analysis
        run: mix credo
  test:
    needs: build
    name: Unit tests
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:14.5-alpine
        ports:
          - "5432:5432"
        env:
          POSTGRES_DB: sanchayika_test
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
    env:
      DATABASE_URL: "postgres://postgres:postgres@localhost:5432/sanchayika_test"
    steps:
      - name: Run tests
        uses: erlef/setup-beam@988e02bfe678367a02564f65ca2e37726dc0268f
        with:
          elixir-version: '1.13.4'
          otp-version: '25.0'
        run: mix test